.content h1, p, h2 {
	text-align: center;
}

table {
	/*margin-right: auto;*/
	margin-left: 70px;
}

td.leftCol { 
	text-align: right; 
	padding: 3px 15px 3px 0; 
	font-weight: bold; 
	font-size: 14px; 
	width: 147px; 
	letter-spacing: -1px 
}

td.rightCol { 
	font-size: 12px; 
	padding: 3px 0 3px 0; 
	color: #000 
}

.button {
	text-decoration: none;
	background-color: #95d07e;
	background-image: -webkit-linear-gradient(top, #4e9038, #95d07e);
	background-image: linear-gradient(top, #4e9038, #95d07e);
	background-color: #4e9038;
	background-image: -webkit-linear-gradient(top, #95d07e, #4e9038);
	background-image: linear-gradient(top, #95d07e, #4e9038);
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	padding: 5px 25px 5px 25px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font: bold 14px Arial, Helvetica;
	color: #fff;
	-webkit-box-shadow: 0 5px 5px gray;
	box-shadow: 0 5px 5px gray;
	position: relative;
	display: inline-block;
	float: left;
}

.button:hover,
.button:focus {		
	background-color: #95d07e;
	background-image: -webkit-linear-gradient(top, #58a23f, #95d07e);
	background-image: linear-gradient(top, #58a23f, #95d07e);
}	

.button:active {		
	background-color: #95d07e;
	background-image: -webkit-linear-gradient(top, #4e9038, #95d07e);
	background-image: linear-gradient(top, #4e9038, #95d07e);
}

select {
	width: 142px;
}

div#recaptcha_area {
	margin-left: auto;
	margin-right: auto;
}

input#btnReset {
	margin: 0 10px 0 125px;
}
